<div class="container container-main">
  <input type="text" id="city" name="city" placeholder="<%= I18n.t(:enter_city) %>">
  <button id="city_form"><%= I18n.t(:submit) %></button>
  <br>
  <p id="error_message"> <%= I18n.t(:error) %></p>

  <div class="map">
    <div id='map' style='width: 400px; height: 300px;'></div>
  </div>

  <div class="card-weather">
    <div class="card_weather_information">
      <h4><%= I18n.t(:weather_in) %> <span id="my_weather"></span> </h4>
      <p><%= I18n.t(:current_temp) %>: <span id="current_temp"></span></p>
      <p><%= I18n.t(:feels_like) %>: <span id="feels_like"></span></p>
      <p><%= I18n.t(:current_status) %>: <span id="weather_description"></span></p>
      <p><%= I18n.t(:temp_high) %>: <span id="temp_high"></span></p>
      <p><%= I18n.t(:temp_low) %>: <span id="temp_low"></span></p>
    </div>
    <div class="weather_icon">
      <img id="weather_icon" src="" alt="">
    </div>
  </div>

  <p id="weather_data"><%= @json %></p>
  <p id="mapbox_key"><% ENV['MAPBOX'] %></p>

</div>
<script type='text/javascript' src='javascript/config.js'></script>
<script src="javascript/index.js" type="text/javascript"></script>
