<form action="/" method="post" id="city_form">
  <label for="city">City</label>
  <input type="text" id="city" name="city">
  <input type="submit" value="Submit">
</form>

<form action="/" method="post" id="coords_form" hidden>
  <label for="lat">Latitude</label>
  <input type="text" id="lat" name="lat">
  <label for="lon">Longitude</label>
  <input type="text" id="lon" name="lon">
  <input type="submit" value="Submit">
</form>

<div class="map">
  <div id='map' style='width: 400px; height: 300px;'></div>
</div>

<% if @weather %>
  <h2 id="my_weather">Weather in <%= @weather.city %></h2>
  <p id="current_temp">Current Temperature: <%= @weather.temperature %></p>
  <p id="feels_like">Feels like: <%= @weather.feels_like %></p>
  <p id="temp_high">Today's high: <%= @weather.max_temp %></p>
  <p id="temp_low">Todays low: <%= @weather.min_temp %></p>
<% end %>

<p id="weather_data" hidden><%= @json %></p>


<script src="javascript/index.js" type="text/javascript"></script>
